<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jwook.gabaekseo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_gabaekseo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_gabaekseo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MyReviewActivity"></activity>
        <activity android:name=".ReviewActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".MyFavoriteActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".BeMainActivity" />
        <activity android:name=".LobbyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="7c8188d4cfdb28a06f529cef1707ccb6" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBhZP6MbPF3SRNIlkjc6wgTj7rtLZ76HbI" />
    </application>

</manifest>